:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(var(--hue), 100%, 20%);
    color: #333;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

h1 {
    text-align: center;
}

span {
    display: inline-block;
}

h4.stats {
    text-align: justify;
    margin: 0px;
}

h4.stats:after {
    content: '';
    display: inline-block;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 20px;
}

#content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 24px;
    margin-bottom: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
}

.answer-button {
    padding: 10px 15px;
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}

button.correct {
    background-color: #28a745;
    color: white;
}

button.wrong {
    background-color: #dc3545;
    color: white;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#controls.show {
    display: flex;
}

.hide {
    display: none;
}

#donate-button-container {
    margin-top: 10px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

.fa-instagram {
  background: #c7c7c7;
  background-image: none;
  margin: 0 10px;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}